<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,">
<style>
html{height:100%;}
body{height:100%;margin:0;padding:0;font-size:14px;background:#fff;}
ul{margin:0;padding:0;}
.link_list li{padding:10px 0;}
.link_list li a{display:block;text-decoration:none;border-bottom:1px solid #666;}
</style>
</head>
<body>
<h2>file list</h2>
<ul class="link_list">
<li><a herf="http://yangyanbin.github.io/view/taiji.html">太极图</a></li>
<li><a herf="http://yangyanbin.github.io/view/baifenbi.html">百分比</a></li>
<li><a herf="http://yangyanbin.github.io/view/love.html">love</a></li>
</ul>
</body>
</html>
