<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<!--收藏夹图标-->
<link rel="Bookmark" type="image/x-icon" href="./imgs/favicon.ico">
<link rel="icon" type="image/x-icon" href="./imgs/favicon.ico">
<link rel="shortcut icon" type="image/x-icon" href="./imgs/favicon.ico">
<title>导航页面</title>
</head>
<body>
  <footer><marquee direction="right" behavior="scroll" scrollamount="1" scrolldelay="0" loop="-1" width="100%" height="50">-yyb</marquee></footer>
</body>
</html>
