<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>小宝贝</title>
<link rel="stylesheet" href="./css/common.css">
<style>
  html{background:#000;}
  body{background:#fff;margin:0 auto;max-width:750px;}
  .top_header{padding-top:1px;}
  .title_h2{margin-left:10px;}
  article{font-size:14px;line-height:1.5;text-align:center;}
  p{font-size:12px;text-align:center;}
</style>
</head>
<body>
  <header class="top_header"></header>
  <h2 class="title_h2">The Road Not Taken</h2>
  <article>
  Two roads diverged in a yellow wood,<br>
  And sorry I could not travel both,<br>
  And be one traveler, long I stood,<br>
  And looked down one as far as I could,<br>
  To where it bent in the undergrowth.<br>

  Then took the other, as just as fair,<br>
  And having perhaps the better claim,<br>
  Because it was grassy and wanted wear;<br>
  Though as for that the passing there,<br>
  Had worn them really about the same.<br>

  And both that morning equally lay,<br>
  In leaves no step had trodden back.<br>
  Oh, I kept the first for another day!<br>
  Yet knowing how way leads on to way,<br>
  I doubted if I should ever come back.<br>

  I shall be telling this with a sigh,<br>
  Somewhere ages and ages hence:<br>
  Two roads diverged in a wood, and I--<br>
  I took the one less traveled by,<br>
  And that has made all the difference.<br> 
  <p>选择自己选择的而为之奋斗<br>2016/07/11</p>
  </article>
</body>
</html>
