<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>小宝贝</title>
<link rel="icon" type="image/x-icon" href="./imgs/favicon.ico">
<link rel="stylesheet" href="./css/common.css">
<style>
  html{background:#000;}
  body{background:#fff;margin:0 auto;max-width:750px;}
  .top_header{padding-top:1px;}
  .title_h2{margin-left:10px;}
  .title_h2 sub{font-size:14px;}
  article{font-size:16px;line-height:1.5;text-align:left;padding-left:8px;}
  article.yw{font-size:14px;display:none;}
  p{font-size:12px;text-align:center;}
  .ckyw{font-size:14px;padding:4px 10px;margin:15px 10px;font-style:oblique;font-weight:bold;}
</style>
</head>
<body>
  <header class="top_header"></header>
  <h2 class="title_h2">The Road Not Taken<sub>---弗罗斯特</sub></h2>
  <article>
  Two roads diverged in a yellow wood,<br>
  And sorry I could not travel both <br>
  And be one traveler, long I stood <br>
  And looked down one as far as I could <br>
  To where it bent in the undergrowth; <br>
  Then took the other, as just as fair, <br>
  And having perhaps the better claim, <br>
  Because it was grassy and wanted wear; <br>
  Though as for that the passing there <br>
  Had worn them really about the same, <br>
  And both that morning equally lay <br>
  In leaves no step had trodden black. <br>
  Oh, I kept the first for another day! <br>
  Yet knowing how way leads on to way, <br>
  I doubted if I should ever come back. <br>
  I shall be telling this with a sigh <br>
  Somewhere ages and ages hence: <br>
  Two roads diverged in a wood, and I- <br>
  I took the one less traveled by, <br>
  And that has made all the difference.<br> 
  </article>
  <div class="ckyw">查看译文</div>
  <article class="yw">
  黄色的树林里分出两条路，<br> 
  可惜我不能同时去涉足， <br>
  我在那路口久久伫立， <br>
  我向着一条路极目望去， <br>
  直到它消失在丛林深处。 <br>
  但我却选了另外一条路， <br>
  它荒草萋萋，十分幽寂， <br>
  显得更诱人、更美丽， <br>
  虽然在这两条小路上， <br>
  都很少留下旅人的足迹， <br>
  虽然那天清晨落叶满地， <br>
  两条路都未经脚印污染。 <br>
  呵，留下一条路等改日再见！ <br>
  但我知道路径延绵无尽头， <br>
  恐怕我难以再回返。 <br>
  也许多少年后在某个地方，<br> 
  我将轻声叹息把往事回顾， <br>
  一片树林里分出两条路， <br>
  而我选了人迹更少的一条， <br>
  从此决定了我一生的道路。  <br>
  </article>
  <p>选择自己选择的而为之奋斗<br>2016/07/11</p>
  <script>
    var ywDom = document.querySelector(".yw");
    document.querySelector(".ckyw").addEventListener("click",function(e){
      ywDom.style.display="block";
    });
  </script>
</body>
</html>
